<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="logback.xsd">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n%ex{short}</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>logs/jehan.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n%ex</pattern>
		</encoder>
	</appender>

	<!-- Loggers -->
	<logger name="com.github" level="INFO"/>
	<logger name="rest_request" level="ERROR"/>

	<logger name="org.glassfish.jersey" level="ERROR"/>

	<root level="INFO">
		<!--<appender-ref ref="console"/>-->
		<appender-ref ref="file"/>
	</root>
</configuration>
