<div class="col-md-6" ng-repeat="instance in instances">
<div ng-class="getPanelClass(instance)">
    <div class="panel-heading">
        <h3 class="panel-title">{{instance.name}}</h3>
    </div>
    <div class="panel-body">
        <p class="pull-right">
            <a ng-href="#/jobs/{{instance.name}}" title="Jobs list for {{instance.name}}">Jobs list</a>
        </p>
        <div class="clearfix"></div>
        <p ng-hide="instance.hasJobsKo()">
            <span class="glyphicon glyphicon-ok"></span> All jobs OK.
        </p>
    </div>

    <table class="table table-striped table-bordered table-condensed table-hover" ng-show="instance.hasJobsKo()">
    <thead>
    <tr>
    <th class="text-center">Color</th>
    <th class="text-center">Job's name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in instance.jobs | jobsStatus:'ko'">
    <td class="col-md-1 text-center"><img ng-src="images/{{job.color}}.png" alt="{{job.color}}"/></td>
    <td>
    <a ng-href="{{job.url}}" target="_blank">{{job.name}}</a>
    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
